{% extends "layout/layout_"|add:request.session.info.role|add:".html" %}
{% load static %}
{% block content %}
    <div class="container">
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">折线图</div>#}
{#            <div class="panel-body">#}
{#                Panel content#}
{#            </div>#}
{#        </div>#}

            <div>
                <div class="panel panel-default">
                <div class="panel-heading">柱状图</div>
                    <div class="panel-body">
                            <div id="m2" style="width: 100%;height: 400px">
                    </div>
                </div>
                </div>
            </div>
{#            <div>#}
{#                <div class="panel panel-default">#}
{#            <div class="panel-heading">饼图</div>#}
{#            <div class="panel-body">#}
{#                Panel content#}
{#            </div>#}
{#                </div>#}
{#            </div>#}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript">
$(function (){
    initBar();
});

function initBar(){
    // 初始化 ECharts 实例
    let myChart = echarts.init(document.getElementById('m2'));

    // 图表的基本配置
    let option = {
        title: {
            text: '库存统计',
            textAlign: 'auto',
            left: 'center',
        },
        tooltip: {},
        legend: {
            data: [],
            bottom: 0
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: []
    };

    // 通过 AJAX 获取数据
    $.ajax({
        url: '/inventory/chart/',//根目录
        type: 'get',
        dataType: 'JSON',
        success: function(res) {
            console.log(res)
            if (res.status) {
                option.legend.data = res.data.legend;
                option.xAxis.data = res.data.x_axis;
                option.series = res.data.series_list;

                // 使用刚指定的配置项和数据显示图表
                myChart.setOption(option);
            }
        },
        error: function() {
            console.error("获取数据失败！");
        }
    });
}
</script>
{% endblock %}