{% extends "layout/layout_"|add:request.session.info.role|add:".html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">销量 TOP10</div>
                <div class="panel-body" style="padding: 0">
                    <div id="barChart" style="width:100%; height:350px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">销售价分布</div>
                <div class="panel-body" style="padding: 0">
                    <div id="lineChart" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">库存占比</div>
                <div class="panel-body" style="padding: 0">
                    <div id="pieChart" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/echarts.min.js' %}"></script>
<script>
$(function () {
    $.getJSON('{% url "inventory_chart" %}', function (res) {
        if (!res.status) return;

        const barChart = echarts.init(document.getElementById('barChart'));
        barChart.setOption({
            title: { text: '销量 TOP10', left: 'center' },
            tooltip: { trigger: 'axis' },
            legend: { bottom: 0, data: res.bar.legend },
            xAxis: { type: 'category', data: res.bar.x_axis },
            yAxis: { type: 'value' },
            series: res.bar.series
        });

        const lineChart = echarts.init(document.getElementById('lineChart'));
        lineChart.setOption({
            title: { text: '销售价分布', left: 'center' },
            tooltip: { trigger: 'axis' },
            legend: { bottom: 0, data: res.line.legend },
            xAxis: { type: 'category', data: res.line.x_axis },
            yAxis: { type: 'value' },
            series: res.line.series
        });

        const pieChart = echarts.init(document.getElementById('pieChart'));
        pieChart.setOption({
            title: { text: '库存占比', left: 'center' },
            tooltip: { trigger: 'item', formatter: '{a} <br/>{b}: {c} ({d}%)' },
            legend: { orient: 'horizontal', bottom: 0, data: res.pie.legend },
            series: res.pie.series
        });

        window.addEventListener('resize', () => {
            barChart.resize(); lineChart.resize(); pieChart.resize();
        });
    });
});
</script>
{% endblock %}